.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.footer h6 {
    font-family: monospace;
    font-size: 12px;
    color: #eee;
    margin: 0;
    padding: 20px 0;
}

@media screen and (max-width: 767px) {
    .footer {
        position: inherit;
    }
    .footer h6 {
        margin: 0;
    }
}