<div class="container-fluid" [ngClass]="darkMode ? 'dark-mode' : ''">
    <div class="container">
        <!-- SELECT DARK MODE -->
        <div class="row d-flex justify-content-end align-items-center py-1">
            <div class="check-box">
                <label class="container-checkbox">
                    {{ strings.appNightMode}} 
                    <label class="switch">
                        <input type="checkbox" (change)="onChange($event.target.checked)">
                        <span class="slider round"></span>
                    </label>
                </label>
            </div>
        </div>
        <!-- TITLE -->
        <div class="row">
            <div class="col-12">
                <app-main-title></app-main-title>
            </div>
        </div>
        <!-- SELECT CITY -->
        <div class="row ">
            <div class="col-12 d-flex justify-content-center align-items-center py-1">
                <div class="dropdown" [ngClass]="darkMode ? 'dark-mode' : ''">
                    <input id="checkbox1" type="checkbox" name="checkbox" checked />
                    <label for="checkbox1">
                        <div class="drop-ttl">{{ citySelectedString }}</div>
                        <ul>
                            <li (click)="selectCity(city)" *ngFor="let city of cities" >{{ city.city.name }}</li>
                        </ul>
                    </label>
                </div>
            </div>
        </div>
        <!-- CALENDAR -->
        <div class="row my-4 d-flex justify-content-center">
            <div class="col-12">
                <app-calendar (executeModal)="executeModalForApi($event)" [darkMode]="darkMode"></app-calendar>
            </div>
        </div>
        <!-- DATA CARD -->
        <div class="row my-4 d-flex justify-content-center">
            <div class="col-12 my-2 text-center" *ngIf="isLoading">
                <div class="spinner-border text-center text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-8">
                <app-weather-card-lg *ngIf="isShowCard" [darkMode]="darkMode" [weatherCardModel]="weatherCardModel"></app-weather-card-lg>
            </div>
        </div>
        <!-- FOOTER -->
        <app-footer></app-footer>

        <!-- DATA MODAL -->

        <div id="open-modal" class="modal-window" [ngClass]="darkMode ? 'dark-mode' : ''" *ngIf="isShowModal">
            <div>
                <a href="#" title="Close" class="modal-close" (click)="disableModal()">Cerrar X</a>
                <div class=" row my-3 ">
                    <div class="col-12 my-2 text-center" *ngIf="isLoadingModal">
                        <div class="spinner-border text-center text-light" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="flex-fill m-0" *ngFor="let data of dataOneCall">
                        <app-weather-card-sm *ngIf="isShowCardSm" [darkMode]="darkMode" [weatherCardModel]="data"></app-weather-card-sm>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>